
#formulario {

    padding-top: 20px;

}

div {

font-family: 'Montserrat';

}

body {
  margin: 0;
  color: rgb(24, 26, 27);
  background-color: rgb(24, 26, 27);
}

h1 {

    padding-top: 30px;

}

.jconfirm-box {

    overflow: hidden;

}

.div.jconfirm-content-pane {

  overflow: hidden;

}
