#index_container {

    background-color: rgba(136, 132, 136, 0.75);

}

#formulario {

    padding-top: 20px;

}

div {

font-family: 'Montserrat';

}

body {

  height: 100%;
  margin: 0;
  color: rgb(218, 215, 210);
  background-color: rgb(24, 26, 27);
}

h1 {

    padding-top: 30px;

}

canvas {
  display:block;
  background: linear-gradient(#010 0%, transparent 20%);
  background-size: 5px 5px;
}

#img_1 {

  background-color: rgba(136, 132, 136, 0.75);
  background-image:url('/static/media/image_1.jpg');

}

#base_footer_index {
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 20px; /* Vertically center the text there */
  background-color: rgba(136, 132, 136, 0.75);
}

#icon_monkey {

    height: 45;

}

#about_container {

      height: 93.7%;
      margin-bottom: auto;


}

p {

  padding-top: 20px;

}

.carousel-item {

  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
