#index_container {

    background-color: rgba(136, 132, 136, 0.75);
    height: 500px;

}

#formulario {

    padding-top: 20px;

}

div {

font-family: 'Montserrat';

}

#img_1 {

  background-color: rgba(136, 132, 136, 0.75);
  background-image:url('/static/media/image_1.jpg');

}

p {

  padding-top: 20px;

}

.carousel-item {

  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
