{% load static %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
        
    <header>
        <h1 class="text-center display-3">Acerca de HashCrack</h1>
    </header>

    <div class="col-xs-12 col-md-12">
        <p class="text-justify">
            HashCrack es un proyecto de software-libre que trata de
            hacer menos engorroso y fácil, la tarea de des-encriptar
            un hash en (MD5-SHA1-SHA256)
            HashCrack es un proyecto surgido de la necesidad de des-encriptar un hash de manera más intuitiva
            para usuarios no tan familiarizados en la materia. Utiliza la potencia de la herramienta “HashCat”,
            el descifrador de contraseñas más rápido del mundo, que utilizando los componentes de nuestro
            ordenador puede realizar las comprobaciones muy rápido con diccionarios de muchos gigabytes;
            HashCrack utiliza una función para poder subir un hash mediante conexión ftp al servidor para
            poder des-encriptarlo, y también convertir texto plano en hash (SHA256-MD5-SHA1),
            todo almacenado en el /home de nuestra máquina Linux. También implementa la herramienta
            “the harvester” que mediante motores de búsqueda indexa correos y hosts de un dominio
            en particular.
        </p>
    </div>

</body>
</html>
