{% load static %}

<html>
<head>

  <link href="//fonts.googleapis.com/css?family=Montserrat&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-confirm.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_contact.css' %}">

</head>
<body>

  <div class="container col-md-12" style="padding-top:4%;">

    <form id="form_contact">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1> Contacto </h1>
        </div>
      </div>
      <div class="form-group" style="padding-top:10%;">
        <label for="email">Email Address</label>
        <input name="email" type="email" class="form-control" id="email" aria-describedby="email" required="true" style="color: rgb(218, 215, 210);background-color: rgb(24, 26, 27);">
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
        <small id="emailHelp" class="form-text text-muted"></small>
      </div>

      <div class="form-group text-center" >
        <label for="in_message">Message</label>
        <textarea name="textarea_contact" class="form-control" id="in_message" rows="3" style="color: rgb(218, 215, 210);background-color: rgb(24, 26, 27);"></textarea>
        <small id="emailHelp" class="form-text text-muted" required="true">No olvides escribir tu pregunta</small>
      </div>
  <div class="row">
    <div class="col-md-12 text-center" style="padding-top:10px;padding-bottom:150px">
      <button id="test" name="test" type="button" class="btn btn-dark">Send</button>
    </div>
  </div>
</form>
</div>


</body>


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery-confirm.js' %}"></script>

<script>

  $(document).on("click","#test",function() {

    if ($('#email').val() == ""){
      $.dialog({
        title: '',
        content: "Introduzca su email",
      });

    }else if ($('#in_message').val() == ""){
      $.dialog({
        title: '',
        content: "Introduzca descripcion",
      });

    }else{

      validate_message();

    }


  });

  function validate_message(){

    data = {

      'csrfmiddlewaretoken': "{{csrf_token}}",
      'email' : $('#email').val(),
      'in_message' : $('#in_message').val(),

    }

    $.ajax({

      type        : "POST",
      url         :  "{% url 'Send_message' %}",
      data: data,
      success: function(response){

        $.confirm({
          title: 'Exito!',
          content: response.result,
          buttons: {
            confirm: function () {
              location.href = "{% url 'index_view' %}";
            },
          }
        });

      },

      error: function (xhr, ajaxOptions, thrownError) {

        $.alert('Intentelo de nuevo!');

      }
    });

  };

</script>
</html>
