{% extends 'web/base.html' %}
{% load static %}

<html>
<head>

  {% block title %}Contacto{% endblock %}
  {% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock %}

</head>
<body>

  {% block content %}
  <div class="container col-md-3" style="padding-top:4%;">

    <form id="form_contact">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1> Contacto </h1>
        </div>
      </div>
      <div class="form-group" style="padding-top:10%;">

        <label for="email">Email Address</label>
        <input name="email" type="email" class="form-control" id="email" aria-describedby="email" required="true" style="color: rgb(218, 215, 210);background-color: rgb(24, 26, 27);">
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
        <small id="emailHelp" class="form-text text-muted"></small>
      </div>

      <div class="form-group text-center" >
        <label for="in_message">Message</label>
        <textarea name="textarea_contact" class="form-control" id="in_message" rows="3" style="color: rgb(218, 215, 210);background-color: rgb(24, 26, 27);"></textarea>
        <small id="emailHelp" class="form-text text-muted" required="true">No olvides escribir tu pregunta</small>
      </div>
  <div class="row">
    <div class="col-md-12 text-center" style="padding-top:10px;padding-bottom:150px">
      <button id="test" name="test" type="button" class="btn btn-dark">Send</button>
    </div>
  </div>
</form>
</div>

{% endblock %}
{% block footer %}
<footer id="base_footer_index" class="page-footer font-small blue">
  <div class="footer text-center py-3">2018-2019
    <a href="https://gitlab.com/DavidEscamilla/HashCrack">HashCrack</a>

  </div>
</footer>
{% endblock %}

</body>

{% block js %}
<script src="{% static 'js/jquery.validation.js' %}"></script>
{% endblock %}

<script>
  {% block script %}

  {% endblock %}
</script>
</html>
