{% extends 'web/base.html' %}
{% load static %}

<html>
<head>

  {% block title %}Contacto{% endblock %}
  {% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock %}

</head>
<body>

  {% block content %}
  <div class="container col-md-3" style="padding-top:4%;">
    <form id="form_contact">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 style="padding-top:12%;"> Contacto </h1>
        </div>
      </div>
      <div class="form-group" style="padding-top:10%;">
        <label for="exampleInputEmail1">Email Address</label>
        <input name="email" type="email" class="form-control" id="email" aria-describedby="email" required="true">
        <small id="emailHelp" class="form-text text-muted"></small>
      </div>

      <div class="form-group text-center" >
        <label for="in_message">Message</label>
        <textarea name="textarea_contact" class="form-control" id="in_message" rows="3"></textarea>
        <small id="emailHelp" class="form-text text-muted" required="true">No olvides escribir tu pregunta</small>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <button name="submitHandler" type="submit" class="btn btn-dark" onclick="form_contact()">Send</button>
        </div>

      </div>
      <!-- <div class="row">
        <div class="col-md-12 text-center" style="padding-top:10px;">
          <button id="test" name="test" type="submit" class="btn btn-dark">test</button>
        </div>

      </div> -->
    </form>
  </div>
  {% endblock %}

</body>

{% block js %}
{% endblock %}

<script>
  {% block script %}

//   $(document).on("click","#test",function(e) {
//     e.preventDefault
//     $( "#form_contact" ).validate({
//
//       rules: {
//         textarea_contact: {
//           required: true
//         }
//       },
//       submitHandler: function() {
//         validate_message();
//       },
//       email: function() {
//
//         validate_message();
//
//       }
//
//     });
// });


function form_contact(){

    $( "#form_contact" ).validate({

      rules: {
        textarea_contact: {
          required: true
        }
      },
      submitHandler: function(e) {
        e.preventDefault
        validate_message();
      },
      email: function(e) {
        e.preventDefault
        validate_message();

      }

    });

    };


  function validate_message(){

    data = {

      'csrfmiddlewaretoken': "{{csrf_token}}",
      'email' : $('#email').val(),
      'in_message' : $('#in_message').val(),

    }

    $.ajax({

      type        : "POST",
      url         :  "{% url 'Send_message' %}",
      data: data,
      success: function(response){

        $.dialog({
          title: '',
          content: response.result,

        });

      },

      error: function (xhr, ajaxOptions, thrownError) {

        $.alert('Intentelo de nuevo!');

      }
    });

  };

  {% endblock %}
</script>
</html>
