{% extends 'web/base.html' %}
{% load static %}

<html>
<head>

    {% block title %}Tutorial{% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

</head>
<body>

    {% block content %}
    {% endblock %}
    {% block footer %}
    <footer id="base_footer" class="page-footer font-small blue">
      <div class="footer text-center py-3">2018-2019
        <a href="https://gitlab.com/DavidEscamilla/HashCrack">HashCrack</a>
      </div>
    </footer>
    {% endblock %}

</body>

{% block js %}
{% endblock %}

<script>
    {% block script %}

    {% endblock %}
</script>
</html>
