{% extends 'web/base.html' %}
{% load static %}

<html>
<head>

    {% block title %}Tutorial{% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

</head>
<body>

    {% block content %}
    <div class="container col-md-12 text-center">
        <div class="row" style="padding-top: 80px;">
            <div class="col-md-4">
                <p class="text-justify">
                    Lorem fistrum la caidita está la cosa muy malar benemeritaar ese que llega se calle ustée papaar papaar.
                    Fistro fistro diodeno por la gloria de mi madre ese que llega me cago en tus muelas por la gloria de mi
                    madre por la gloria de mi madre te va a hasé pupitaa condemor pecador. Diodenoo te va a hasé pupitaa
                    condemor papaar papaar. Papaar papaar diodeno mamaar no puedor ahorarr me cago en tus muelas por la
                    gloria de mi madre ese hombree torpedo tiene musho peligro. Me cago en tus muelas fistro a wan pecador
                    torpedo. No te digo trigo por no llamarte Rodrigor caballo blanco caballo negroorl te voy a borrar el
                    cerito fistro a wan diodeno. Está la cosa muy malar al ataquerl está la cosa muy malar apetecan.
                    Ese hombree me cago en tus muelas ese pedazo de amatomaa.
                </p>
            </div>
            <div class="col-md-4">
                <p class="text-justify">
                    Lorem fistrum la caidita está la cosa muy malar benemeritaar ese que llega se calle ustée papaar papaar.
                    Fistro fistro diodeno por la gloria de mi madre ese que llega me cago en tus muelas por la gloria de mi
                    madre por la gloria de mi madre te va a hasé pupitaa condemor pecador. Diodenoo te va a hasé pupitaa
                    condemor papaar papaar. Papaar papaar diodeno mamaar no puedor ahorarr me cago en tus muelas por la
                    gloria de mi madre ese hombree torpedo tiene musho peligro. Me cago en tus muelas fistro a wan pecador
                    torpedo. No te digo trigo por no llamarte Rodrigor caballo blanco caballo negroorl te voy a borrar el
                    cerito fistro a wan diodeno. Está la cosa muy malar al ataquerl está la cosa muy malar apetecan.
                    Ese hombree me cago en tus muelas ese pedazo de amatomaa.
                </p>
            </div>
            <div class="col-md-4">
                <p class="text-justify">
                    Lorem fistrum la caidita está la cosa muy malar benemeritaar ese que llega se calle ustée papaar papaar.
                    Fistro fistro diodeno por la gloria de mi madre ese que llega me cago en tus muelas por la gloria de mi
                    madre por la gloria de mi madre te va a hasé pupitaa condemor pecador. Diodenoo te va a hasé pupitaa
                    condemor papaar papaar. Papaar papaar diodeno mamaar no puedor ahorarr me cago en tus muelas por la
                    gloria de mi madre ese hombree torpedo tiene musho peligro. Me cago en tus muelas fistro a wan pecador
                    torpedo. No te digo trigo por no llamarte Rodrigor caballo blanco caballo negroorl te voy a borrar el
                    cerito fistro a wan diodeno. Está la cosa muy malar al ataquerl está la cosa muy malar apetecan.
                    Ese hombree me cago en tus muelas ese pedazo de amatomaa.
                </p>
            </div>
        </div>
    </div>

    {% endblock %}
    {% block footer %}
    <footer id="base_footer" class="page-footer font-small blue">
        <div class="footer text-center py-3">2018-2019
            <a href="https://gitlab.com/DavidEscamilla/HashCrack">HashCrack</a>
        </div>
    </footer>
    {% endblock %}

</body>

{% block js %}
{% endblock %}

<script>
    {% block script %}

    {% endblock %}
</script>
</html>
